/* FONT */
@font-face {
    font-family: 'ROG LyonsType Regular';
    font-size: normal;
    font-weight: normal;
    src: local('ROG LyonsType Regular'), url('../fonts/ROGLyonsTypeRegular3.woff') format('woff');
}

/* BODY SECTION */

body
{
    background-image: url("../images/forsusoft_background.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    font-weight: 400;
    font-family: "ROG LyonsType Regular";
}

main
{
}

footer
{
    background-color: rgba(50,0,0,1.0);
    margin-top: 780px;
    padding-top: 64px;
    padding-bottom: 64px;
    font-size: 32px;
    color: white;
}

footer label
{
    margin-left: 150px;
}

/* HEADER SECTION */

.header-container
{
    background-color: rgba(0,0,0,0.5);
    height: 65px;
    width: auto;
    padding-top: 5px;
}

.header-container li
{
    color: white;
    list-style-type: none;
    display: inline;
    font-size: 22px;
}

.header-container a
{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 26px 10px 26px 10px;
}

.header-container ul
{
    padding-left: 10px;
    padding-right: 10px;
}

.header-container a:visited
{
    color: white;
}

.container-left
{
    display: flex;
    float: left;
}

.header-logo
{
    margin-left: 150px;
    width: 140px;
}

.left-nav
{
    display: block;
}

.right-nav
{
    display: block;
}

.container-right
{
    display: flex;
    float: right;
    margin-right: 150px;
}

/* FOOTER SECTION */


/* MEDIA SCREEN SECTION */

@media screen and (max-width: 1223px) 
{
    
}