body
{
    background-image: url("../images/forsusoft_background.png");
    margin: 0;
    font-weight: 400;
    font-family: "Roboto";
}

.logo
{
    margin-left: 15px;
    background: url("../images/forsusoft_logo.png");
    width: 140px;
    height: 60px;
}

.topnav
{
    overflow: hidden;
    background-color: rgba(46, 46, 46);
}

.topnav a
{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover
{
    background-color: #ddd;
    color: black;
}

.topnavleft
{
    float: left;
    display: inline;
}

.topnavright
{
    float: right;
    display: inline;
}

.topnav .icon
{
    margin-top: 7.5px;
    margin-right: 7.5px;
    scale: 1.3;
    float: right;
    display: none;
}

.topnav .icon i
{
    scale: 1.5;
}

@media screen and (max-width: 992px)
{
    .topnavleft a:not(:empty){
        display: none;
    }
    .topnavright a:not(:empty)
    {
        display: none;
    }
    .topnav a.icon
    {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 992px)
{
    .topnavleft.responsive .logo{display: none;}
    .topnavleft.responsive {position: relative;}
    .topnavright.responsive {position: relative;}
    .topnavleft.responsive a
    {
        margin-left: 70px;
        display: block;
        text-align: center;
    }
    .topnav.responsive .icon
    {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnavright.responsive a 
    {
        margin-right: 100px;
        display:block;
        text-align: center;
    }
}